body {
    background-color: #f0f0f5;
    padding: 20px;
    text-align: center;
    margin-top: 25%;
}

.inputID-container {
    margin: 10px 0;
    display: block;
    margin-left: 98px;
}
.inputPW-container {
    display: block;
    margin-right: 16px;
    margin-top: 30px;
}

#dup{
    display: none;
    margin-left: 130px;
}

#cor{
    display: none;
}

#SignButton{
    margin-right: 10px;
}

input {
    padding: 10px;
    width: 200px;
    font-size: 16px;
}



button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
#SigInButton {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    text-decoration: none;
}

button:hover {
    background-color: rgb(20, 143, 224);
}

#SigInButton:hover {
    background-color: rgb(20, 143, 224);
}


.output-container {
    margin-top: 20px;
    font-size: 18px;
}
